<div id="navbar">
  <div class="nav-element left-element">
    <%= link_to "Home ðŸ ", user_path(session[:user_id])%>
  </div>

  <div class="nav-element middle-elements">
    <%= link_to "Books ðŸ“š", books_path %>
  </div>
  <div class="nav-element middle-elements">
    <%= link_to "Rhymes ðŸ¥", rhymes_path %>
  </div>

  <div class="nav-element right-element">
    <%= link_to "ðŸ‘¤ Logout", logout_path, method: :delete %>
  </div>
</div>