<div class = "title"><h1>Edit your Account</h1></div>
<div class="edit-user-form">
<% if flash[:errors] %>
  <% flash[:errors].each do |msg| %>
    <h4>OOPS! <%= msg %></h4>
  <% end %>
<% end %>

<%= render 'form' %>
</div>