
<img id="logo" src = "https://lh3.googleusercontent.com/pw/ACtC-3fmsbCNUTvwUXPsTkcmq5jlPfAFfsmby46UWWiDuCecmtz9t5b0HjCJSzs8K5h9Ty4Py1a57vZ6IFX_WpjshaqnedFAPTS33wpFgyblaW_uoDt5NwqqVn58ZkJyzjxahJG21dIkEm_DEYDiayjyzGM-=w1684-h540-no">


<div class="home-buttons-container">
    <%= button_to "Login", login_path, method: :get, class: "home-button" %>
    <%= button_to "Create Account", new_user_path, method: :get, class: "home-button" %>
</div>


<div class="music">
<audio controls autoplay loop>
  <source src="https://retired.sounddogs.com/previews/2515/mp3/687222_SOUNDDOGS__mu.mp3" type="audio/ogg" >
  <embed src="https://retired.sounddogs.com/previews/2515/mp3/687222_SOUNDDOGS__mu.mp3" autostart="true" loop="true" hidden="true"> 
</audio>
</div>



